@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1a1919;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* INPUT NUMBER */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styles for the snackbar */
#snackbar {
  visibility: hidden; /* Default to hidden */
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

/* Show the snackbar */
#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.8s; /* Fade in and fade out animation */
}

/* Fade in animation */
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

/* Fade out animation */
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
